
*{
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
        
}

.container{
    background: hsl(0, 0%, 12%);
    width: 320px;
    border-radius: 10px;
   
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 23px;
}

.text_content_one h1{
    font-size: 20px;
    margin-bottom: 6px;

}
.text_content_one p{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}
.text_content_two{
    font-size: 14px;
    margin-top: 22px;
}
.button_content{
    display: flex;
    flex-direction: column;
    padding: 13px 25px 25px 25px;
    
}
.button_content button{
    background: hsl(0, 0%, 20%);
    padding: 14px;
    border: none;
    border-radius: 8px;
    margin: 7px;
    font-weight: bold;
    transition: all 0.3s ease-in;
}

.button_content button:hover{
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    cursor: pointer;
  
    
}

.button_content button:focus{
    outline: 2px solid hsl(75, 94%, 57%);
    outline-offset: 3px;
}

@media (hover: hover) {
    
.button_content button:hover{
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    cursor: pointer;
    
}
}
